html,body,#main{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-color: rgb(70, 70, 70);
  color: rgb(201, 201, 201);
  text-align: center;
}
#name{
  color: crimson;
  font-size: 150%;
}