
#mainWrap{
  display: flex;
  flex-direction: row;
}

#topBox{
  width: 50%;
  margin: auto;
  display: flex;
  align-content: stretch;
}

#leftList{
  background-color: cornflowerblue;
  width: 150px;
}

#pokeImg{
  height: 150px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}

.small{
  height: 10%;
}

table,td{
  border: 1px solid black;
}

#bottomInfo{
  display: inline-block;
}
#status{
  margin-top: 20px;
}

#bottomInfo img{
  height: 80px;
  width: 200px;
}
#rightWrap{
  text-align: center;
  margin-left: 10%;
}
